body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

body.dark-mode {
    background-color: #121212; /* Ciemne tło dla całej strony */
    color: #ffffff; /* Jasny tekst */
}

body.light-mode {
    background-color: #ffffff; /* Jasne tło dla całej strony */
    color: #000000; /* Ciemny tekst */
}

h1 {
    color: inherit; /* Używa koloru z body */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

select {
    background-color: #333; /* Ciemne tło dla select */
    color: #ffffff; /* Jasny tekst dla select */
    border: 1px solid #444; /* Granica */
    padding: 5px; /* Padding dla select */
}

body.light-mode select {
    background-color: #ffffff; /* Jasne tło dla select w jasnym motywie */
    color: #000000; /* Ciemny tekst dla select w jasnym motywie */
}

#result {
    margin-top: 20px;
    width: 100%;
    resize: none; /* Zapobiega zmianie rozmiaru pola tekstowego */
    background-color: #333; /* Ciemne tło dla textarea */
    color: #ffffff; /* Jasny tekst dla textarea */
}

body.light-mode #result {
    background-color: #f0f0f0; /* Jasne tło dla textarea w jasnym motywie */
    color: #000000; /* Ciemny tekst dla textarea w jasnym motywie */
}

button {
    margin-top: 10px;
    background-color: #444; /* Ciemne tło dla przycisków */
    color: #ffffff; /* Jasny tekst dla przycisków */
    border: none; /* Bez granicy */
    padding: 10px 15px; /* Padding dla przycisków */
}

body.light-mode button {
    background-color: #ddd; /* Jasne tło dla przycisków w jasnym motywie */
    color: #000000; /* Ciemny tekst dla przycisków w jasnym motywie */
}

button:hover {
    background-color: #555; /* Jaśniejszy odcień przycisku po najechaniu myszką */
}

/* Styl przełącznika motywu */
.theme-toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider.round {
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3; /* Kolor przełącznika w trybie ciemnym */
}

input:checked + .slider::before {
  transform: translateX(26px);
}
